node_modules
*.log
*.env
! example.env
/artifacts/build-info
/artifacts/src
/artifacts/storage-layout
! /artifacts/deployments
/artifacts/deployments/geth
/artifacts/deployments/localhost
/artifacts/types
/cache
coverage
